/stage5.png
/base render test.png
/color render test.png
/lightSphereDirectional.png
/lightSpherePoint.png
/lightSphereSpot.png
/lightSphereSpotSharp.png
/lightTrianglesDirectional.png
/lightTrianglesPoint.png
/lightTrianglesSpot.png
/lightTrianglesSpotSharp.png
/shadowSphereTriangleInitial.png
/shadowSphereTriangleMove1.png
/shadowSphereTriangleMove2.png
/shadowSphereTriangleSpot1.png
/shadowSphereTriangleSpot2.png
/shadowTrianglesSphere.png
/refractionShadow.png
/refractionTwoSpheres.png
/reflectionTwoSpheresMirrored.png
